.home{
    min-height: 100vh;
    background: url('../img/hero.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
}
.home .content{
    text-align: center;
}
.home .content p{
    color: var(--white);
    font-size: 2.5rem;
}
.home .content h3{
    font-size: clamp(5rem, 15vw, 15rem);
    color: var(--main-color);
    text-shadow:var(--box-shadow);
    font-family: var(--title-font);
    font-weight: normal;
}
.btn{
    display: inline-block;
    margin-top: 1rem;
    font-size: 1.8rem;
    background: var(--black);
    color: var(--white);
    cursor: pointer;
    clip-path: polygon(10% 0, 90% 0, 100% 50%, 90% 100%, 10% 100%, 0% 50%);
    padding: 1rem 3rem;
}
.btn:hover{
    animation: var(--jello-animation);
}